.DS_Store    # 苹果隐藏文件
node_modules # node包
node_modules/
/dist        # dist目录
/build       # build目录
dist/
build/

userdata
userdata/
/userdata

data
data/
/data

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

dbg0_source.js
dbg1_source.js
dbg2_source.js
app.log
h_source.js
merge_3_source.js
merge_source.js
merge_d_source.js
time_source.js
h.js
a.js
ka.js
ttt.js
send.js
main_source.js
time_source_bk.js
compile_source.js
upload.js
package-lock.json
